---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="discount-block">
  <div class="discount-block__image">
    <div class="discount-block__discount-amount">30% discount</div>
  </div>
  <div class="discount-block__title">Affinity Serif</div>
  <div class="discount-block__description">From the smoothest, fastest photo editing and graphic design software to the most powerful publishing software, Affinity ...</div>
</article>

<style>
.discount-block {
  max-width: 328px;
  padding: 10px;
}

.discount-block__image {
  width: 100%;
  height: 184px;
  background: red;
  border-radius: 12px;
  position: relative;
}

.discount-block__title {
  font-size: 24px;
  margin-top: 20px;
}

.discount-block__description {
  font-size: 16px;
  margin-top: 16px;
}

.discount-block__discount-amount {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;

  border: 1px dashed #000000;
  box-sizing: border-box;
  border-radius: 10px;
}
</style>
