<style scoped>
.header {
  margin-top: 20px;
}

.header__logo {
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.header__logoImage {
  margin-left: 4px;
  height: 25px;
}

.header__subline {
  margin-top: 14px;
  max-width: 270px;
  width: 100%;
}

.header__text {
  font-size: 16px;
}

.header__text + .header__text {
	margin-top: 7px;
}

.header__link {
  color: rgb(41, 75, 135);
}

@media (max-width: 1024px) {
  .header {
    padding: 0 10px;
  }
}
</style>

<div class="header">
  <div class="header__logo">
    DigitalDeals
    <img src="/assets/images/logo.svg" class="header__logoImage" />
  </div>

  <div class="header__subline">
  	<p class="header__text">Here we collect discounts on digital things. Like applications, or ebooks, or courses.</p>
  	<p class="header__text">Please, <a href="https://t.me/rukomoynikov" class="header__link">give us know</a> about discount that isn’t listed here but worth it.</p>
  </div>
</div>
