---
import BaseHead from '../components/BaseHead.astro';

const {content} = Astro.props;
---

<html lang={ content.lang || 'en' }>
  <head>
    <script defer data-domain="digitaldeals.today" src="https://plausible.io/js/plausible.js"></script>
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <slot />
  </body>
</html>

